footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #17372E;

}
footer h2{
    color: white;
   margin-left: 5%;
    font-size: 30px;
    width: 30%;

}
footer hr{
    background-color: white;
    height: 3px;
    border: 1px solid white;
    width: 95%;
}
footer .nav-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
footer .footer-bar{
    width: 70%;
    display: flex;
    justify-content: space-around;
    padding: 2%;
    box-sizing: border-box;

}
footer .footer-bar a{
    color: white;
    text-decoration: none;

}
footer .nav-bar .social{
    display: flex;
    width: 10%;
    justify-content: space-around;
    padding: 2% 5% 2% 2%;
}
footer .nav-bar .social a{
    margin: 1%;

}

footer .nav-bar .social a img{
    width: 90%;

}
footer img{
    width: 98%;
    padding: 0 1% 0 1%;
}