.block{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.block .left {
    width: 50%;
    padding: 2% 2% 2% 5%;
    box-sizing: border-box;

}
.block .left img{
    width: 80%;
}

.block .right{
    padding: 2% 2% 2% 3%;
    width: 50%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.block .right h2{
    font-size: 40px;


}
.block .right hr{
    background-color: #790808;
    height: 2px;
    border: 1px solid #790808;
    width: 100%;

}
